* {
  box-sizing: border-box;
  line-height: 150%;
}

/* HTML Elements */
header {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}
p {
  color: grey;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: orange;
  transition: .25s;
}
h1, h3, li {
  font-family: 'Montserrat', 'Open Sans', sans-serif;  
}
h2 {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  margin: 65px auto 50px;
  text-align: center; 
}
footer {
  background:  #f6f6f6;
  margin-top: 30px;
}
hr {
  width: 95%;
  color: lightgrey;  
}

/* Id's */
#header-title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  color: #4e57f5;
}
#portfolio {
 display: flex;
 flex-wrap: wrap;
}
#footer-title {
  margin: 30px;
}
#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Classes */
.wrap {
  min-height: 100vh;
}
.main-nav {
  list-style: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.nav-item {
  width: 95%;
  background: white;
  margin: auto auto 7px;
  padding: 10px;
  text-align: center;
}
.nav-item:hover {
  box-shadow: 0px 2px lightgrey;  
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-image {
  max-width: 70%;
  margin: 30px auto;
}
.header-text {
  text-align: center;
  margin: 5px 5% 40px;
  font-size: 1.25rem;
}
.portfolio-section {
  text-align: center;
  margin: 20px;
}
.section-image {
  max-width: 100%;
}
.section-text {
  margin: auto;
  max-width: 93%;
}
.footer-text {
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.footer-email {
  margin-bottom: 40px;  
}
.footer-end {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  padding: 5px;
}
.footer-2 {
  margin-left: auto;
}
.footer-3 {
  display: none;
}
.footer-4 {
  display: none;
}
.footer-5 {
  display: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  
  /* Id's */
  #portfolio {
    justify-content: center;  
  }
  #portfolio-title {
    width: 100%;  
  }
  
  /* Classes */
  .main-nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-item {
    width: auto;
    background: #f6f6f6;
    padding: 0px;
    margin: auto 25px;
  }
  .nav-item:hover {
    box-shadow: none;
  }
  .header-info {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
  }
  .header-image {
    margin: auto;
    padding: 10px;
    width: 40%;
  }
  .header-text {
    margin: auto;
    padding: 10px;
    text-align: left;
  }
  .portfolio-section {
    width: 45%;
    margin: 10px 10px 30px;
  }
  .footer-text {
    width: 75%;  
  }
  .footer-end {
    justify-content: flex-end;
  }
  .footer-1 {
    margin: auto auto auto 10px;
  }
  .footer-2 {
    display: none;
  }
  .footer-3 {
    display: inherit;
    margin: 10px;
  }
  .footer-4 {
    display: inherit;
    margin: 10px;
  }
  .footer-5 {
    display: inherit;
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  
  /* HTML Elements */
  header {
    flex-wrap: wrap;
  }
  
  /* Classes */
  .nav-wrap {
    display: flex;
    flex-direction: row;
  }
  .main-nav {
    margin-left: auto;
  }
  .header-text {
    margin: 0px; 
  }
  .portfolio-section {
    width: 30%;
    margin: 10px 10px 30px;
  }
  .footer-text {
    width: 50%;  
  }
}



